.hero {
  box-sizing: border-box;
  width: 60%;
  padding: 200px 0px 200px 100px;
  display: grid;
  align-self: center;
  gap: 20px;
  
  &__headline {
    text-align: center;
    width: 72%;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9rem;
    place-content: center;
    grid-area: span 1;
  }

  &__title {
    animation: typing 2s steps(32), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 239, 239);
    grid-column: 1;
  }

  &__button {
    margin-top: 40px;
    animation: showing 1s linear;
  }
}

.name {
  width: 18.8ch;
}

.proffession {
  width: 22.2ch;
}

.cosmonaut {
  animation: flying 2s infinite alternate ease-in-out;
  top: 100px;
  right: 150px;
  position: absolute;
  width: 450px;
  height: 450px;
  background-size: cover;
  background-image: url('../../assets/imgs/hero-cosmonaut.png');
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flying {
  from {
    width: 450px;
    height: 450px;
    top: 100px;
    right: 150px;
  } to {
    width: 560px;
    height: 560px;
    top: 300px;
    right: 200px;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}