.header {
  box-sizing: border-box;
  padding: 40px 150px;
  height: 100vh;
  background-image: url('../../assets/imgs/background-image.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}
